---
import mcCannSvg from "../../../public/img/mccann.svg";
import liliPinkSvg from "../../../public/img/liliPink.svg";
import yamahaSvg from "../../../public/img/yamaha.svg";
import conalturaSvg from "../../../public/img/conaltura.svg";
import nikeSvg from "../../../public/img/nike.svg";

import eeSvg from "../../../public/img/ee.svg";

const text = "<Casos de éxito: Inspiración que transforma industrias>";
---

<section class="px-6 py-10">
    <aside>
        <p
            class="font-grotesk font-semibold leading-8 text-2xl text-left text-blue-king mb-4"
        >
            Únete a la lista exclusiva de empresarios que están creando el
            futuro
        </p>
    </aside>
    <aside>
        <p class="font-pmono font-light text-left text-slate-600 text-base">
            {text}
        </p>
    </aside>
    <aside class="w-90% bg-solution rounded-md mt-8 mb-4 pb-6">
        <aside class="py-6 px-5 flex">
            <div class="basis-1/2">
                <img
                    src={eeSvg.src}
                    alt="maccan"
                    width="100"
                    class="absolute"
                />
            </div>
            <div class="basis-1/2 flex justify-end">
                <img src={mcCannSvg.src} alt="maccan" width="60" />
            </div>
        </aside>
        <aside>
            <div class="text-slate-100 flex items-center">
                <p class="px-2 text-header-lime">{"<"}</p>
                <div class="text-xs px-1">
                    <p class="mb-2">
                        Xpand Group se ha convertido en un gran socio
                        estratégico para el desarrollo de soluciones
                        tecnológicas para nuestros clientes, han demostrado
                        grandes capacidades de ejecución.
                    </p>
                    <p class="font-pmono text-header-lime">
                        {"<Mario Benavente>"}
                    </p>
                    <p class="font-pmono text-header-lime">
                        {" <Gerente general McCann Ecuador>"}
                    </p>
                </div>
                <p class="px-2 text-header-lime">{">"}</p>
            </div>
        </aside>
    </aside>
    <aside>
        <aside class="flex mb-8">
            <aside
                class="bg-solution basis-1/4 rounded-md mx-1 py-2 px-1 flex justify-center items-center"
            >
                <img src={liliPinkSvg.src} alt="lili" width="50" />
            </aside>
            <aside
                class="bg-solution basis-1/4 rounded-md mx-1 py-2 px-1 flex justify-center items-center"
            >
                <img src={nikeSvg.src} alt="nikeSvg" width="50" />
            </aside>
            <aside
                class="bg-solution basis-1/4 rounded-md mx-1 py-2 px-1 flex justify-center items-center"
            >
                <img src={yamahaSvg.src} alt="yamahaSvg" width="50" />
            </aside>
            <aside
                class="bg-solution basis-1/4 rounded-md mx-1 py-2 px-1 flex justify-center items-center"
            >
                <img src={conalturaSvg.src} alt="conalturaSvg" width="30" />
            </aside>
        </aside>
    </aside>
    <aside>
        <p
            class="font-grotesk font-light italic text-base text-center text-slate-100 rounded-full bg-blue-king py-3 shadow-md "
        >
        Transforma tu futuro hoy, agenda ya  >
        </p>
    </aside>
</section>
